name: Lamp-Da main branch CI

on:
  pull_request:
    paths:
      - "src/**"
      - "simulator/**"

defaults: 
  run:
    shell: bash
    working-directory: ./LampColorControler 

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        path: LampColorControler
        submodules: 'true'
    - name: verify format
      run : make format-verify

  run-tests:
    runs-on: ubuntu-latest
    needs: [format]

    steps:
    - uses: actions/checkout@v4
      with:
        path: LampColorControler
        submodules: 'true'

    - name: setup
      run :
         sudo apt update &&
         sudo apt install libsfml-dev -y &&
         sudo apt install libx11-dev libxrandr-dev libxcursor-dev libxi-dev libudev-dev libfreetype-dev libvorbis-dev libflac-dev libgl1-mesa-dev libopenal-dev libalut-dev -y &&
         sudo apt install libgtest-dev libgmock-dev -y
    - name: build
      run:
        make test
    - name: test
      run:
        ./_build/tests/utest/tests_utest

  documentation:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: ./LampColorControler

    steps:
    - uses: actions/checkout@v4
      with:
        path: LampColorControler
        submodules: 'true'
    - name: Documentation
      run :
        sudo apt install doxygen -y &&
        make doc
  
  build-lamp:
    runs-on: ubuntu-latest
    needs: [format, run-tests]

    defaults:
      run:
        shell: bash
        working-directory: ./LampColorControler

    steps:
    - uses: actions/checkout@v4
      with:
        path: LampColorControler
        submodules: 'true'

    - name: setup
      run :
        make mr_proper arduino-cli-download safe-install
    - name: simple led strip build
      run : make simple
    - name: cct led strip build
      run : make cct
    - name: indexable led strip build
      run : make indexable
 
  build-simulator:
    runs-on: ubuntu-latest
    needs: [format, run-tests]

    steps:
    - uses: actions/checkout@v4
      with:
        path: LampColorControler
        submodules: 'true'

    - name: setup
      run :
         sudo apt update &&
         sudo apt install libsfml-dev -y &&
         sudo apt install libx11-dev libxrandr-dev libxcursor-dev libxi-dev libudev-dev libfreetype-dev libvorbis-dev libflac-dev libgl1-mesa-dev libopenal-dev libalut-dev -y
    - name: build
      run:
        make simulator
